<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn-submit").on("click", function () {
                const uId = $("#uId").val();
                const uPw = $("#uPw").val();
                const uName = $("#uName").val();

                $.ajax({
                    url: "/member/membership",
                    type: "POST",
                    data: {
                        uId: uId,
                        uPw: uPw,
                        uName: uName
                    },
                    success: function (msg) {
                        if (msg == "id") {
                            alert("이메일을 입력하세요.");
                        } else if (msg == "pw") {
                            alert("비밀번호를 입력하세요.");
                        } else if (msg == "name") {
                            alert("이름을 입력하세요.");
                        } else if (msg == "no") {
                            alert("존재하는 이메일입니다");
                            location.href = "/member/membership"
                        } else {
                            location.href = msg;
                        }
                    },
                    error: function () {
                        alert("통신실패")
                    }
                });
            });

            $("#btn-reset").on("click", function () {
                $("#uId").val("");
                $("#uPw").val("");
                $("#uName").val("");
            })


        });
    </script>
<style>
    section{
        margin-top: 20vh;
        margin-bottom: 15vh;
    }
</style>
</head>
<body>
<div th:replace="~{/layout/header :: header-basic}"></div>
<div class="container">


    <section>
        <div class="row mt-3">
            <div class="col-sm-4 mx-auto">
                <div class="border rounded-3 p-3">
                <h1 class="text-center">회원가입</h1>
                <div class="mt-3">
                    <label class="form-label" for="uId">이메일</label>
                    <input class="form-control" id="uId" name="uId" placeholder="이메일을 입력하세요" type="text">
                </div>
                <div class="mt-3">
                    <label class="form-label" for="uPw">비밀번호*</label>
                    <input class="form-control" id="uPw" name="uPw" placeholder="비밀번호를 입력하세요" type="password">
                </div>
                <div class="mt-3">
                    <label class="form-label" for="uName">이름*</label>
                    <input class="form-control" id="uName" name="uName" placeholder="이름을 입력하세요" type="text">
                </div>
                <div class="mt-5 d-grid gap-2">
                    <button class="btn btn-primary" id="btn-submit" type="submit">가입</button>
                    <button class="btn btn-secondary" id="btn-reset" type="reset">취소</button>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
</html>